language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

services:
  - mongodb

before_script:
  - phpenv config-add tests/travis-ci-config.ini
  - composer install --optimize-autoloader --dev
  - ./tests/generate_fixtures.php

script: phpunit --configuration tests

notifications:
  irc: "irc.freenode.org#jackalope"

matrix:
  allow_failures:
    - php: hhvm
